*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}

#main_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 100%;
    gap:1%;

}

h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    margin-top: 1%;
}

#form_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 28%;
    height: 70%;
    border-radius: 25px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}

.input_box{
    display: block;
    width: 90%;
    height: 10%;
    font-size: 1.4rem;
    box-sizing:content-box;
    border: 2px solid white;
    border-radius: 10px;
    border-bottom-color:black;
    /* box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.20); */
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 10%;
    gap: 20%;
}

.buttonSty:hover#signup {
    background-color: #00FF96;
    color: white;
}

.buttonSty:hover#login {
    background-color: #FD4556;
    color: white;
} 

.buttonSty{
    display: inline-block;  
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    width: 9.07rem;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 15px 32px;
    text-decoration: none;
}

#signup{
    border: 0.15rem solid #00FF96;
}

#login{
    border: 0.15rem solid #FD4556;
}




